
.mainwidget{
    height:62x;
    width:62px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:50px 13px 50px 50px; 
}
.mystyle {
    width: 300px;
    height: 50px;
    font-size: 25px;
}
.widget{
   position:fixed;
   bottom:20px;
   right:20px;
   cursor: pointer;
}
.container{
   bottom: 30px;
    right: 20px;
    height:684px;
    width:385px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    display:none;
    border-radius:3px 3px 3px 3px;
}
.notification-widget{
    display: block;
    background: #5E99E5;
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.2), 0 6px 20px 0 rgba(202, 202, 202, 0.19);
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 18px 18px 3px 18px;
    display:none;
}
.notification-widget-top{
    background-color:#5E99E5;
    border-radius: 18px 18px 0px 0px;
    cursor: pointer;
}
.notification-widget-bottom{
    border-radius:0px 0px 4px 18px;
}
.googleicon{
    height:48px;
    width: 48px;
    border-radius:50px 13px 50px 50px;
    border: 5px solid rgba(255, 255, 255, .5);
}
.googleicon-div{
    float: left;
    margin-top: -27px;
    margin-left: -15px;
    padding-right: 10px;
}

.agents-name{
font-family: -apple-system, BlinkMacSystemFont;
color: #AECCF2;
font-size: 12px;
font-weight:600;
padding-top: 12px;
}
.agents-message{
font-family:system-ui;
color:#FFFFFF;
font-size: 12px;
font-weight: 10;
padding-top:5px; 
}

.widget-top{
    height:110px;
    background-color:#1FA5D9;
    border-radius: 6px 6px 0px 0px;
}
.product-widget-top{
    display:none;
}
.feedback-widget-top{
    display:none;
}
.pricing-billing-widget-top{
    display:none;
}
.support-widget-top{
    display:none;
}
.frequentlyasked-widget-top{
    display:none;
}
.modernmessenger-widget-top{
    display:none;
}
div.head-title{
    color:rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    font-family: sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}
.head-title.modern{
    font-size: 18px;
    font-weight: 500;
}
div.title-status{
    color:rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 300;
    opacity: .8;
    font-family: -apple-system, system-ui;
    padding-left: 15px;
    padding-top: 7px;
    letter-spacing:normal;
}
#agentsideinput{
    border-radius:5px;
    border-color: #1FA5D9; 
    outline: none;
    width: 200px;
    height: 30px;
    font: 15px Arial, Helvetica, sans-serif;
}
.agentmessage-description{
    color: #273A58;
    font-family: -apple-system, system-ui;
    size: 15px;
}
.widgetbottom{
    height:38px;
    width:385px;
    background-color:#EBECF0;
    border-radius: 0px 0px 6px 6px;
}
div.chat{
    text-align:center;
    width:192px;
    float: left;
    padding: 11px 0;
    font-family:Helvetica;
    font-size: 12px;
    color: rgb(39, 58, 94);
    cursor: pointer;
    font-weight: 300;
    border-radius:2px 2px 2px 0px; 
    border-bottom: 2px solid #1FA5D9;
    border-bottom-left-radius: 5px;
    max-height: 14px;
}
.byfreshchat{
    font-size: 12px;
    font-weight: 200;
    font-family: sans-serif;
    color: rgb(148, 148, 148);
    margin-left: 135px;
}
.chat:hover{
    background-color:rgb(244, 245, 248);
}
.faq:hover{
    background-color:rgb(244, 245, 248);
}
div.faq{
    width:192px;
    float:right;
    text-align:center;
    padding: 11px 0;
    font-family:Helvetica;
    font-size: 12px;
    color: rgb(39, 58, 94);
    cursor: pointer;
    font-weight: 300;
    border-radius:2px 2px 2px 0px; 
    border-bottom: 2px solid #EBECF0;
    border-bottom-right-radius: 5px;
    max-height: 14px;
}

.chatbox{
    height:537px;
    background-image: url("../assets/chatbackground.jpg");
    display:none;
    overflow:auto;
}
.fa-file-text-o{
    margin-right: 7px;
    color:rgb(110, 109, 109); 
}
.inputfield{
    width:90%;
    height:30px;
    border-radius:7px;
    border: none;
    padding: 10px;
    margin-left: 10px;
    font: 15px Arial, Helvetica, sans-serif;
    outline:none;
    color: #2D3F5C;
}

 .notification-widget-input{
    width:300px;
    height:42px;
    border-radius:0px 0px 4px 18px;
    border:none;
    padding: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    outline:none;
    color: #2D3F5C;
    font-weight: 100;
} 
.notification-details{
    float: left;
    width: 200px;
    line-height: 2;
}

.notification {
    border-radius: 12px;
    background: #DC391F;
    max-width: 13px;
    padding: 2px 4px;
    height: 14px;
    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 500;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-family: Arial;

}

input.inputfield:focus {
    filter: drop-shadow(-1px -1px 5px  rgb(184, 181, 181));
}

#chat-container{
    overflow:auto;
    height:460px;
   
}
.inputfield::placeholder {
    color:rgb(180, 175, 175);
    opacity: 1;
    font-size: 13px;
}
.notification-widget-input::placeholder {
    color:rgb(194, 192, 192);
    opacity: 1;
    font-size: 12px;
    font-weight:100;
    font-family: -apple-system, BlinkMacSystemFont;
}
input.notification-widget-input:focus {
    filter: drop-shadow(5px 5px 5px  rgb(243, 240, 240));
}
.agent {
    border-radius: 4px 18px 18px 4px;
    background: #1FA5D9;
    padding: 10px; 
    max-width: 240px;
    max-height:100px;   
    color:white;
    font-size: 13px;
    font-family: -apple-system, system-ui;;
    font-weight: 100;
    margin: 2px; 
    margin-left: -15px;
    float: left;
    clear: both;
}
.customer{
    border-radius: 18px 4px 4px 18px;
    background:white;
    padding: 10px; 
  word-wrap: break-word;
    max-width: 240px;
    max-height:100px;   
    color:#27323D;
    font-size: 13px;
    font-family: -apple-system, system-ui;;
    font-weight:100; 
    margin: 2px; 
    float: right;
    clear: both;
    margin-right:15px;
}
.fqbox{
    padding-bottom: 10px;
}
.byfreshchat.ci{
    font-size: 12px;
    font-weight: 200;
    font-family: sans-serif;
    color: rgb(148, 148, 148);
    margin-left: 135px;
    margin-top: 170px;
}
ul {
    list-style: none;
  }


ul li.customer:last-child{ 
    border-radius: 18px 4px 18px 18px;
}
ul li.customer:first-child{ 
    border-radius: 18px 18px 4px 18px;
}
ul li.customer:only-child{ 
    border-radius: 18px 4px 4px 18px;
}


ul li.agent:last-child{ 
    border-radius: 4px 18px 18px 18px;
}
ul li.agent:first-child{ 
    border-radius: 18px 18px 18px 4px;
}
ul li.agent:only-child{ 
    border-radius: 4px 18px 18px 4px;
}

.agent.feedback{
    display: none;
}
.agent.price{
    display: none;
}
.agent.supportchat{
    display: none;
}
.inboxicon{
  height:32x;
  width:32px;
  padding-left: 15px;
  padding-top: 25px;
 
}
body{
background: white;
}
.chatindex{
    height:537px;
    width:383px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
 
  
}
.channelname{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 650;
    padding-left:75px;
    padding-top: 20px;
}
.description{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 75px;
    padding-top: 5px;
    color:#A5A8AF;
}
.time{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
    color:#A5A8AF;

    padding-top: 22px;

    margin-right: -30px;
    float:right;
}
.category1{
    height:85px;
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color: #EBECF0; 
}
.category1:hover{
    background-color:rgb(244, 245, 248);
    cursor: pointer;
}
.productdemo{
    height:42px;
    width: 42px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    color:#102a54;
}

/* this refers to the box card page */
.frequentlyasked{
    height:537px;
    width:385px;
    border-style: solid;
    border:none;
    border-width: 1px;
    background-color:#F4F5F7;    
    overflow:auto; 
    display: none; 
}
.card1{
    height:150px;
    margin-top:15px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 5px 5px  rgb(230, 227, 227));
     float: left;
    width: 41.73%;
    padding: 5px;
    border-radius: 5px;  
}
.card1:hover{
    filter: drop-shadow(0px 5px 5px  rgb(184, 181, 181));
    cursor: pointer;
}
.modernmessenger{
    height:60px;
    width: 60px;
    padding-top: 35px;
    padding-left: 50px;
    transition:transform .2s ease-in-out;
}
.faqdescription{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
   text-align: center;
    padding-top: 20px;
    letter-spacing:0.8;
    color:rgb(83, 109, 124);
}
.modernmessenger:hover{
     transform: scale(1.1) rotate(3deg ) ;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
}

.frequentlyasked-page{
    height:537px;
    width:383px;
    border-style: solid;
    border-color: rgb(253, 253, 253);
    border-width: 1px;
    overflow:auto;
    display: none;
}
.faqquestion{
    height:60px;
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color: #EBECF0; 
}
.question{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 320;
    padding-left:55px;
    padding-top: 27px;
    color:rgb(64, 76, 104);
}
.questionicon{
padding-top:20px;
padding-left:20px;
float: left;
}
.faqquestion:hover{
    background-color:rgb(244, 245, 248);
    cursor: pointer;
}
i.material-icons.chaticon{
   font-size: 15px;
   color:#273A58;

}
.material-icons.arrow{
    font-size: 17px;
    color: rgb(255, 254, 254);
    padding-left: 12px;
    padding-top: 15px;
    cursor: pointer;
    
}
.material-icons.index-icon{
    font-size: 20px;
    color: rgb(255, 254, 254);
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer;
  
}
.material-icons.description{
    font-size: 20px;
    color: rgb(255, 254, 254);
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer; 
}
.material-icons.close{
    color:white;
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    opacity:0.5;
    cursor:pointer;
    font-size: 17px;
}

.material-icons.close:hover{
    opacity:1;
}
.material-icons.attach{
    font-size: 17px;
    position: absolute;
    margin-left: 290px;
    font-size: 23px;
    color: rgb(199, 199, 199);
    margin-top: 493px;
    cursor: pointer;
}
.material-icons.insertemoji{
    font-size: 26px;
    color: rgb(199, 199, 199);
    margin-left: 331px;
    position: absolute;
    margin-top: 491px;
    cursor: pointer;
}